 .header {
    box-sizing: border-box;
    padding-top: 40px;
    background-image: url(../img/header1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 110px;
 }

 body {
    margin: 0;
 }

    .header-text {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
 }

 .header-text h1 {
    margin: 0;
    line-height: 70px;
    font-size: 60px;
    letter-spacing: 5px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .header-text p {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
  }

  .header img {
    width: 101.62px;
    height: 23px;
    
  }

  .mini-text {
   margin: 0;
   font-family: "Open Sans", serif;
   color: #ffffff;
   letter-spacing: 4px;
   font-size: 11px;
  }

  .navigation {
   margin: 0;
   display: flex;
   justify-content: center;
   height: 65px;
   padding-inline: 4vw;
  }

  .navbar ul {
   list-style-type: none;
   margin: 2px;
   padding: 8px;
   gap: 30px;
   display: flex;
   align-items: center;
   justify-content: space-between;
  }

  .navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   max-width: 1200px;
   width: 100%;  
 }

 .navbar img{
   width: 80px;
   height: 16px;
 }

 .nav-link {
   text-decoration:none;
   text-transform: uppercase;
   font-family: "Open Sans", serif;
   color: black;
   transition: 0.3s;
}

   .nav-link:hover { 
      color: #00A4E5;
   }
   
   .story {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 50px;
      padding-bottom: 100px;
      padding-inline: 4vw;
   }

   .section-header {
      font-family: "Open Sans", serif;
      font-size: 23px;
      text-transform: uppercase;
      letter-spacing: 3px;
      color: #48555B;
   }

   .story-header {
      position: relative;
   }

   .story-header::before {
      content: "";
      width: 50px;
      height: 2px;
      background-color: #00A4E5;
      position: absolute;
      display: flex;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 11;
   }
  
   .story-content {
      max-width: 1200px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: end;
      gap: 80px;
   }

   .story-text p:first-child{
      font-family: "Open Sans", sans-serif;
      font-size: 25px;
      color: black;
      font-weight: 700;
      width: 400px;
   }

   .blue-word {
      color: #00A4E5;
   }

   .story-text p:last-child{
      font-family: "Open Sans", serif;
      font-size: 16px;
      color: #48555B;
      width: 400px;
   }

   .cards {
      display: flex;
      gap: 30px;
   }

   .card {
      width: 140px;
      height: 224px;
      overflow: hidden;
      position: relative;
      padding: 10px 10px;
      display: flex;
      align-items: start;
   }

   .card-img {
      position: absolute;
      width: 200%;
      height: 100%;
      top: 0;
      right: 0;
      object-fit:cover;
      z-index: 10;
   }

   .card:nth-child(2) img {
      width: 220%;
      transform: translateX(40%);
   }

   .card-header {
      position: relative;
      z-index: 11;
      color: white;
      font-size: 30px;
      font-family: "Open Sans", serif;
      margin: 0;
      line-height: 38px;
      text-transform: uppercase;
   }